.index_container
  %h2 記事詳細ページ
.article#article-show{data: {article_id: @article.id}}
  - if @article.eyecatch.attached?
    .article_image
      = image_tag @article.eyecatch
  - else
    .card_image
      = image_tag 'default-eyecatch.jpg', size: '100*100'

  .article_detail
    = link_to account_path(@article.user) do
      = image_tag @article.user.avatar_image
    %div
      %p= @article.author_name
      %p= @article.display_created_at
    - if user_signed_in? && current_user.has_written?(@article)
      .article_detail_actions
        .dropdown
          = image_tag 'actions.svg', class: 'dropbtn'
          .dropdown-content.mini
            = link_to '編集する', edit_article_path(@article)
            = link_to '削除する', article_path(@article), data: { method: 'delete', confirm: '本当に削除してもよろしいですか？' }
    
    - elsif user_signed_in?   
      .article_follow_button
        - if current_user&.has_followed?(@user)
          = link_to 'フォロー済み', account_unfollows_path(@user), data: {method: 'post'}
        - else 
          = link_to 'フォローする', account_follows_path(@user), data: {method: 'post'}

  -# %p title:
  %h1.article_title= @article.title
  .article_content
    -# %p content:
    %p=h @article.content.body
    - if @article.images.attached?
      = image_tag @article.images.variant(resize_to_fill: [300, 300]), width: 300, height: 300

 


  .article_reactions
    - if user_signed_in?
      .article_heart.hidden.active-heart
        = image_tag 'heart-active.svg'  
      .article_heart.hidden.inactive-heart
        = image_tag 'heart.svg'
    
      .article_heart_count 
        = @article.like_count
       

  
.article 
  %h2 コメント一覧
  .comments-container  
    - @comment.each do |comment|
      = link_to account_path(comment.user) do
        .article_comment
          = image_tag comment.user.avatar_image
          %p= comment.content

.comment_container
  .btn-secondary.show-comment-form
    コメントを追加

  .comment-text-area.hidden
    
    = text_area_tag :comment_content, '', class: 'sm'
    .btn-secondary.add-comment-button
      コメントを追加

= javascript_pack_tag 'article' 
