.chat_item
  = link_to chat_path(chat) do
    .chat_card
      .card_detail
        .div
          = image_tag chat.user.avatar_image 
        .card_detail_text
          = truncate(chat.content.to_plain_text, length: 14, class: "truncate")
          .chat_display
            %div
              %p= chat.author_name
              %p= chat.display_created_at
        -# = truncate(chat.content, length:25) 
        -# =h chat.content