.item
  = link_to information_path(information) do
    .card
      - if information.eyecatch.attached? 
        .card_image
          = image_tag information.eyecatch
      - else
        .card_image
          = image_tag 'default-eyecatch.jpg', size: '150*200'
      .card_content
        .card_title
          = truncate(information.title, length:10) 

          .card_lecture_detail
            = image_tag information.user.avatar_image
            %div
              %p= information.author_name
              %p= information.display_created_at
          