.container_profilePage
  %h1 プロフィールページ
  .profilePage_user
    .profilePage_user_image
      = image_tag user.avatar_image
    .profilePage_user_basicInfo
      .profilePage_user_name
        .profilePage_user_displayName
          #{user.display_name}
        .profilePage_user_actionButton
          - if user == current_user
            = link_to 'Edit', edit_profile_path
          - else 
            - if current_user&.has_followed?(user)
              = link_to 'フォロー済み', account_unfollows_path(user), data: {method: 'post'}
            - else 
              = link_to 'フォローする', account_follows_path(user), data: {method: 'post'}
      .profilePage_user_introduction
        = user.profile&.introduction
           
  -# - user.articles.each do |article| 
  -#   = render 'commons/article', article: article

.index_container
  %h2 記事一覧！
.wrap
  .profile_item
    - user.articles.each do |article| 
      = link_to article_path(article) do
        .card
          - if article.eyecatch.attached? 
            .card_image
              = image_tag article.eyecatch
          - else
            .card_image
              = image_tag 'default-eyecatch.jpg'
          .card_content
            .card_title
              = article.title
              -# = truncate(article.title, length:13) 
            .profile_card_detail
              = image_tag article.user.avatar_image
              %div
                %p= article.author_name
                %p= article.display_created_at

.index_container
  %h2 チャット一覧
.wrap
  - user.chats.each do |chat| 
    = link_to chat_path(chat) do
      .chat_card
        .card_detail
          %div
            .profile_card_detail
              = image_tag chat.user.avatar_image 
          %div
            .chat_card_content
              = truncate(chat.content.to_plain_text, length: 13, class: "truncate")

.index_container
  %h2 インフォメーション
.wrap
  .profile_item
    - user.informations.each do |information| 
      = link_to information_path(information) do
        .card
          - if information.eyecatch.attached? 
            .card_image
              = image_tag information.eyecatch
          - else
            .card_image
              = image_tag 'default-eyecatch.jpg'
          .card_content
            .card_title
              = information.title

              .profile_card_detail
                = image_tag information.user.avatar_image
                %div
                  %p= information.author_name
                  %p= information.display_created_at